* {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000000;
}
.Body {
    font-size: 12pt;
    line-height: 15pt;
}
.Indent {
    text-indent: 0.4in;
}

.Footnote_Text {
    font-size: 10pt;
    line-height: 12pt;
    padding-bottom: 10pt;
}
.FootnoteRegion a {
    font-size: 7pt;
    vertical-align: super;
    line-height: 7pt;
}
.Normal_22 {
    width: 468pt;
}
.FootnoteRegion {
    border-bottom-width: 0;
    border-color: #7f7f7f;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: thin;
    margin-top: 1em;
    padding-top: 0.5em;
}

div {
    overflow: visible;
}
img {
    border: none;
}
blockquote {
    margin-left: 36pt;
    text-indent: 0pt;
}
p {
    margin: 0;
}
h1 {
    font-size: 17pt;
    font-weight: bold;
	margin-top: 12pt;
}
h2 {
    font-size: 13pt;
    font-weight: normal;
}
h3 {
    font-size: 13pt;
}

ul.Plain {
	list-style-type: none;
	padding-left: 0.4in;
}
ul.Plain li {
	margin-bottom: 12pt;
	text-indent: -0.4in;
}

.FootnoteLink {
    font-size: 8pt;
    vertical-align: super;
    line-height: 8pt;
}
#TopLeftGraphic {
    position: absolute;
    top: 1ex;
    left: 1ex;
    background-color: white;
    border: solid medium;
    border-color: #cd5;
}
.HomeLink {
    position: absolute;
    font-size: small;
    color: #cd5;
    font-weight: bold;
}
